- squares = _.range(1, 25, 1)

h2
  | Should Reuben bike?

p
  | Temp, dew point and chance of rain – next 24 hours

.square-container
  for square in squares
    .square(id='square_#{square}')
      span.time
      p.data
        span#heat
        | /
        span#humidity
      .rain

p
  | Weather data from Weather Underground API