doctype html
html
  head
    title Reuben Fischer-Baum projects, articles and visualizations
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='description', content="Reuben Fischer-Baum's personal website")
    meta(name='author', content='Reuben Fischer-Baum')
    meta(property='og:title', content='reubenfb')
    meta(property='og:url', content='http://www.reubenfb.com')
    meta(property='og:image', content='=')
    meta(property='og:description', content="Reuben Fischer-Baum's personal website")
    link(rel='canonical', href='http://www.reubenfb.com')
    style
      include ../stylesheets/compiled/app.css
  body
    h1
      | Hello world

    script(async src = 'bundle.js')
              
