@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Cousine:400');

body {
	max-width: 900px;
	margin: 0 auto;
	padding: 0px 5px;
	font-family: Lato;
}

h2 {
	margin-bottom: 0px;
}
p {
	margin-top: 5px;
}

$red: #E24344;
$green: #9CD78A;
$blue: #0097ED;

.square-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.square {
		width: calc((100%/6) - 8px);
		padding-bottom: calc((100%/6) - 8px);
		background-color: #fff;
		height: 0;
		margin-bottom: 4px;
		position: relative;
		border: 2px solid #ccc;
		transition: border-color 0.5s;
		&.commute {
			background-color: rgba(1, 1, 1, 0.13);
			font-weight: 700;
		}
		&.bad {
			border-color: $red;
		}
		&.good {
			border-color: $green;
		}
		.time {
			position: absolute;
			top: 4px;
			left: 4px;
			font-size: 0.75em;
		}
		.data {
			text-align: center;
			opacity: 0;
			margin-top: 42%;
			font-family: Cousine;
			.bad {
				color: $red;
			}
		}
		.rain {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 0%;
			background-color: $blue;
		}
	}
}


@media screen and (max-width: 600px){
	.square-container {
		.square {
			width: calc((100%/4) - 8px);
			padding-bottom: calc((100%/4) - 8px);
		}		
	}
}